.main-page {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.welcome-header {
  font-size: 60px;
}

.welcome-view-buttons {
  display: flex;
  justify-content: center;

  button {
    background-color: #E50914;
    color: #FFF;
  }

}